.header-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.header-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: row;
  justify-content: flex-start;
}
.header-container1 {
  flex: 0 0 auto;
  width: 10%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.header-navlink {
  display: contents;
}
.header-image {
  width: 70%;
  object-fit: cover;
  text-decoration: none;
}
.header-container2 {
  flex: 0 0 auto;
  width: 35%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: row;
  justify-content: flex-start;
}
.header-textinput {
  width: 90%;
  padding-top: 20px;
  border-color: var(--dl-color-gray-white);
  border-style: hidden;
  border-width: 0px;
  padding-bottom: 20px;
}
.header-container3 {
  flex: 0 0 auto;
  width: 55%;
  height: 100px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.header-navbar-interactive {
  width: auto;
  align-self: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: flex-end;
}
.header-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.header-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.header-links {
  flex: 1;
  display: flex;
  align-items: center;
  padding-right: 50px;
  flex-direction: row;
  justify-content: flex-end;
}
.header-nav12 {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}
.header-nav22 {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-nav32 {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-nav42 {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-register {
  font-family: "Inter";
  text-decoration: none;
}
.header-burger-menu {
  display: none;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.header-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.header-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.header-nav121 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-nav221 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-nav321 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-nav52 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-root-class-name {
  top: 0px;
  left: 0px;
}
.header-root-class-name1 {
  align-self: center;
}


@media(max-width: 767px) {
  .header-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-nav321 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-nav52 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .header-header {
    width: 479px;
  }
  .header-image {
    width: 100%;
  }
  .header-container2 {
    width: 60%;
  }
  .header-container3 {
    width: 30%;
  }
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu1 {
    padding: 16px;
  }
}

.pitches-card-pricing-card {
  height: 869px;
  position: relative;
  box-shadow: 5px 5px 5px 0px #d4d4d4;
  border-radius: 10px;
}
.pitches-card-image {
  width: 87px;
  height: 93px;
  object-fit: cover;
}
.pitches-card-container {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.pitches-card-text {
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.pitches-card-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.pitches-card-container2 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.pitches-card-text2 {
  line-height: 150%;
}
.pitches-card-container3 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.pitches-card-text3 {
  line-height: 150%;
}
.pitches-card-container4 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.pitches-card-text4 {
  line-height: 150%;
}
.pitches-card-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pitches-card-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pitches-card-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: 50px;
  flex-direction: column;
}
.pitches-card-text7 {
  text-align: left;
}
.pitches-card-button {
  width: 100%;
}



@media(max-width: 991px) {
  .pitches-card-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
  }
}
@media(max-width: 767px) {
  .pitches-card-pricing-card {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pitches-card-root-class-name {
    height: auto;
  }
  .pitches-card-root-class-name1 {
    height: auto;
  }
  .pitches-card-root-class-name2 {
    height: auto;
  }
}

.user-card-pricing-card {
  height: 786px;
  position: relative;
  box-shadow: 5px 5px 5px 0px #d4d4d4;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: 20px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.user-card-image {
  width: 150px;
  align-self: center;
  object-fit: cover;
  border-radius: 100px;
}
.user-card-text {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: -50px;
  text-align: center;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: var(--dl-color-custom-primary1);
}
.user-card-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.user-card-container1 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.user-card-text1 {
  line-height: 150%;
}
.user-card-text2 {
  align-self: center;
  text-align: center;
}
.user-card-text3 {
  font-size: 20px;
  align-self: center;
  text-align: center;
}
.user-card-text4 {
  align-self: center;
  text-align: center;
}
.user-card-button {
  color: var(--dl-color-gray-900);
  width: 50%;
  align-self: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #ffffff;
}
.user-card-root-class-name {
  height: 700px;
}
.user-card-root-class-name1 {
  height: 700px;
  margin-left: 10px;
}

.user-card-root-class-name3 {
  height: 700px;
  margin-left: 10px;
}
.user-card-root-class-name4 {
  height: 700px;
}
.user-card-root-class-name5 {
  height: 700px;
  margin-left: 10px;
}
.user-card-root-class-name6 {
  height: 700px;
  margin-left: 10px;
}
.user-card-root-class-name7 {
  height: 700px;
}
.user-card-root-class-name8 {
  height: 700px;
  margin-left: 10px;
}
.user-card-root-class-name9 {
  height: 700px;
  margin-left: 10px;
}
@media(max-width: 991px) {
  .user-card-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
  }
}
@media(max-width: 767px) {
  .user-card-pricing-card {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.footer-prefooter1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-left: 90px;
  padding-right: 50px;
  padding-bottom: 50px;
  justify-content: flex-start;
  background-color: #121824;
}
.footer-container {
  flex: 0 0 auto;
  width: 10%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-left: 20px;
  flex-direction: column;
  justify-content: center;
}
.footer-image {
  width: 71px;
  height: 60px;
  object-fit: cover;
}
.footer-container01 {
  flex: 0 0 auto;
  width: 10%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-image1 {
  width: 92px;
  height: 133px;
  align-self: flex-start;
  object-fit: cover;
}
.footer-container02 {
  flex: 0 0 auto;
  width: 80%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-style: dashed;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.footer-footer1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #121824;
}
.footer-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  justify-content: center;
}
.footer-container04 {
  flex: 0 0 auto;
  width: 19%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
.footer-navlink {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink01 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink02 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink03 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-container05 {
  flex: 0 0 auto;
  width: 19%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text1 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
.footer-navlink04 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink05 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink06 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink07 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-container06 {
  flex: 0 0 auto;
  width: 19%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text2 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
.footer-navlink08 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink09 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink10 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink11 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink12 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-link {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-link1 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-container07 {
  flex: 0 0 auto;
  width: 19%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text3 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
.footer-link2 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.footer-link3 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.footer-link4 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.footer-container08 {
  flex: 0 0 auto;
  width: 19%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text4 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
.footer-navlink13 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-link5 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.footer-link6 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.footer-link7 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.footer-copyright {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: flex-start;
  background-color: #121824;
}
.footer-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 74px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-text5 {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 12px;
  align-self: flex-end;
  text-align: center;
  padding-right: 30px;
}



@media(max-width: 991px) {
  .footer-prefooter1 {
    width: 100%;
  }
  .footer-container02 {
    width: 324px;
    margin-right: 0px;
  }
  .footer-container03 {
    width: 100%;
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-container04 {
    width: 160px;
  }
  .footer-container05 {
    width: 160px;
  }
  .footer-container06 {
    width: 160px;
  }
  .footer-container07 {
    width: 160px;
  }
  .footer-container08 {
    width: 215px;
  }
  .footer-copyright {
    width: 100%;
    margin-right: 0px;
  }
  .footer-container09 {
    width: 50%;
    padding-right: 20px;
  }
}
@media(max-width: 767px) {
  .footer-prefooter1 {
    width: 100%;
  }
  .footer-container {
    width: 167px;
  }
  .footer-container01 {
    width: 90px;
  }
  .footer-image1 {
    width: 61px;
  }
  .footer-container02 {
    width: 491px;
    margin-right: 0px;
  }
  .footer-footer1 {
    width: 100%;
    margin-right: 0px;
  }
  .footer-container03 {
    width: 648px;
    margin-right: 0px;
  }
  .footer-copyright {
    width: 100%;
    height: 105px;
  }
}
@media(max-width: 479px) {
  .footer-prefooter1 {
    padding: 20px;
  }
  .footer-container02 {
    width: 212px;
  }
  .footer-container03 {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }
  .footer-container04 {
    width: 100%;
  }
  .footer-container05 {
    width: 100%;
    padding-top: 20px;
  }
  .footer-container06 {
    width: 100%;
    padding-top: 20px;
  }
  .footer-container07 {
    width: 100%;
    padding-top: 20px;
  }
  .footer-container08 {
    width: 100%;
    padding-top: 20px;
  }
  .footer-copyright {
    height: auto;
    padding: 10px;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-container09 {
    width: 100%;
    padding-right: 0px;
  }
  .footer-text5 {
    text-align: center;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero1 {
  height: 703px;
  background-size: cover;
  background-color: transparent;
  background-image: url("public/external/untitled%20design%20(18)-1500w.png");
}
.home-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero-heading {
  color: #ffffff;
  width: 738px;
  font-size: 48px;
  max-width: 800px;
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
  line-height: 150%;
}
.home-hero-sub-heading {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 18px;
  text-align: center;
  line-height: 2;
}
.home-button {
  color: #ffffff;
  padding-top: 15px;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  background-color: var(--dl-color-custom-accent1);
}
.home-pricing {
  width: 100%;
  height: 1214px;
  background-color: var(--dl-color-gray-white);
}
.home-container02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
  padding-bottom: 50px;
  justify-content: flex-start;
}
.home-pricing-heading {
  font-size: 2em;
}
.home-pricing-sub-heading {
  text-align: center;
}
.home-container03 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: 100px;
  justify-content: center;
}
.home-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-banner-heading {
  text-align: center;
}
.home-banner-sub-heading {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-image {
  width: 950px;
  height: 351px;
  object-fit: cover;
}
.home-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.home-container04 {
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
  padding-bottom: 50px;
  justify-content: flex-start;
}
.home-features-heading {
  font-size: 2em;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text14 {
  width: 70%;
  text-align: center;
}
.home-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.home-container05 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
.home-container07 {
  flex: 0 0 auto;
  width: 768px;
  height: 100px;
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
  padding-bottom: 100px;
  justify-content: center;
}
.home-text29 {
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
}
.home-text30 {
  color: #000000;
  text-align: center;
  padding-top: 20px;
}
.home-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: flex-start;
}
.home-container09 {
  flex: 0 0 auto;
  width: 32%;
  height: 600px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/untitled%20design%20(19)-1400w.png");
}
.home-container09:hover {
  animation-name: bounce;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-link {
  display: contents;
}
.home-text31 {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.home-container10 {
  flex: 0 0 auto;
  width: 32%;
  height: 600px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: 10px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/untitled%20design%20(20)-1400w.png");
}
.home-container10:hover {
  animation-name: bounce;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-link1 {
  display: contents;
}
.home-text32 {
  color: var(--dl-color-gray-white);
}
.home-container11 {
  flex: 0 0 auto;
  width: 32%;
  height: 600px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: 10px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/untitled%20design%20(21)-1400w.png");
}
.home-container11:hover {
  animation-name: bounce;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-link2 {
  display: contents;
}
.home-text33 {
  color: var(--dl-color-gray-white);
}
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: flex-start;
}
.home-container13 {
  flex: 0 0 auto;
  width: 32%;
  height: 600px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/untitled%20design%20(23)-1400w.png");
}
.home-container13:hover {
  animation-name: bounce;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-link3 {
  display: contents;
}
.home-text34 {
  color: var(--dl-color-gray-white);
}
.home-container14 {
  flex: 0 0 auto;
  width: 32%;
  height: 600px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: 10px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/untitled%20design%20(22)-1400w.png");
}
.home-container14:hover {
  animation-name: bounce;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-link4 {
  display: contents;
}
.home-text35 {
  color: var(--dl-color-gray-white);
}
.home-container15 {
  flex: 0 0 auto;
  width: 32%;
  height: 600px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: 10px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/untitled%20design%20(24)-1400w.png");
}
.home-container15:hover {
  animation-name: bounce;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-link5 {
  display: contents;
}
.home-text36 {
  color: var(--dl-color-gray-white);
}
.home-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 80px;
  flex-direction: column;
  padding-bottom: 80px;
  justify-content: center;
}
.home-text37 {
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
}
.home-text38 {
  width: 70%;
  text-align: center;
  padding-top: 20px;
}
.home-container17 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container18 {
  width: 714px;
}
.home-container19 {
  display: contents;
}
@media(max-width: 991px) {
  .home-hero1 {
    flex-direction: column;
  }
  .home-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-pricing {
    height: 2624px;
    padding-bottom: 50px;
  }
  .home-pricing-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-container03 {
    height: 2461px;
    align-items: center;
    flex-direction: column;
  }
  .home-banner-sub-heading {
    max-width: 100%;
  }
  .home-image {
    width: 830px;
  }
  .home-features-heading {
    text-align: center;
  }
  .home-text14 {
    text-align: center;
  }
  .home-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-container05 {
    align-items: center;
    flex-direction: column;
  }
  .home-container07 {
    width: 598px;
  }
  .home-text30 {
    color: rgb(0, 0, 0);
  }
  .home-container16 {
    width: 641px;
  }
  .home-text38 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-pricing-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container03 {
    align-items: center;
    flex-direction: column;
  }
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image {
    width: 693px;
    margin-right: 0px;
  }
  .home-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container05 {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .home-hero1 {
    height: 797px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-hero-heading {
    width: 100%;
  }
  .home-hero-sub-heading {
    width: 100%;
  }
  .home-pricing {
    height: 2938px;
    padding: 20px;
  }
  .home-pricing-heading {
    text-align: center;
  }
  .home-container03 {
    height: auto;
  }
  .home-banner {
    position: relative;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-image {
    width: 90%;
    height: auto;
  }
  .home-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text14 {
    width: 90%;
  }
  .home-container05 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .home-container07 {
    width: 100%;
  }
  .home-text30 {
    width: 90%;
  }
  .home-container08 {
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
  }
  .home-container09 {
    width: 90%;
  }
  .home-container10 {
    width: 90%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .home-container11 {
    width: 90%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .home-container12 {
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
  }
  .home-container13 {
    width: 90%;
  }
  .home-container14 {
    width: 90%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .home-container15 {
    width: 90%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .home-container16 {
    width: 100%;
    padding-top: 80px;
  }
}
