.header-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.header-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.header-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.header-links {
  flex: 1;
  display: flex;
  align-items: center;
  padding-right: 50px;
  flex-direction: row;
  justify-content: flex-end;
}
.header-nav22 {
  margin-left: var(--dl-space-space-unit);
}
.header-nav32 {
  margin-left: var(--dl-space-space-unit);
}
.header-nav42 {
  margin-left: var(--dl-space-space-unit);
}
.header-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-login {
  margin-right: 32px;
}
.header-burger-menu {
  display: none;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.header-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.header-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.header-nav121 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-nav221 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-nav321 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-nav52 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-root-class-name {
  top: 0px;
  left: 0px;
}
.header-root-class-name1 {
  align-self: center;
}

@media(max-width: 767px) {
  .header-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-nav321 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-nav52 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .header-header {
    width: 479px;
  }
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu1 {
    padding: 16px;
  }
}

.pricing-card-pricing-card {
  height: 869px;
  position: relative;
}
.pricing-card-image {
  width: 87px;
  height: 93px;
  object-fit: cover;
}
.pricing-card-container {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.pricing-card-text {
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.pricing-card-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.pricing-card-container2 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.pricing-card-text2 {
  line-height: 150%;
}
.pricing-card-container3 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.pricing-card-text3 {
  line-height: 150%;
}
.pricing-card-container4 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.pricing-card-text4 {
  line-height: 150%;
}
.pricing-card-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pricing-card-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pricing-card-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: 50px;
  flex-direction: column;
}
.pricing-card-text7 {
  text-align: left;
}
.pricing-card-button {
  width: 100%;
}
@media(max-width: 991px) {
  .pricing-card-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
  }
}
@media(max-width: 767px) {
  .pricing-card-pricing-card {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.feature-card-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card-text {
  font-weight: 600;
  line-height: 28px;
}
@media(max-width: 767px) {
  .feature-card-feature-card {
    flex-direction: row;
  }
  .feature-card-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card-container {
    flex-direction: column;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.footer-prefooter1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #121824;
}
.footer-container {
  flex: 0 0 auto;
  width: 248px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-left: 20px;
  flex-direction: column;
  justify-content: center;
}
.footer-image {
  width: 71px;
  height: 60px;
  object-fit: cover;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 230px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-image1 {
  width: 92px;
  height: 133px;
  align-self: flex-start;
  object-fit: cover;
}
.footer-container2 {
  flex: 0 0 auto;
  width: 520px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-footer1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #121824;
}
.footer-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-container4 {
  flex: 0 0 auto;
  width: 456px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  align-self: flex-start;
  text-align: left;
  padding-left: 20px;
}
.footer-link {
  color: var(--dl-color-gray-white);
  padding-left: 25px;
}
.footer-link01 {
  color: var(--dl-color-gray-white);
  padding-left: 25px;
}
.footer-link02 {
  color: var(--dl-color-gray-white);
  padding-left: 25px;
}
.footer-link03 {
  color: var(--dl-color-gray-white);
  padding-left: 25px;
}
.footer-container5 {
  flex: 0 0 auto;
  width: 516px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text1 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  align-self: flex-start;
  text-align: left;
  padding-left: 20px;
}
.footer-link04 {
  color: var(--dl-color-gray-white);
  padding-left: 25px;
}
.footer-link05 {
  color: var(--dl-color-gray-white);
  padding-left: 25px;
}
.footer-link06 {
  color: var(--dl-color-gray-white);
  padding-left: 25px;
}
.footer-link07 {
  color: var(--dl-color-gray-white);
  padding-left: 25px;
}
.footer-container6 {
  flex: 0 0 auto;
  width: 546px;
  height: 82px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text2 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  align-self: flex-start;
  text-align: left;
  padding-left: 20px;
}
.footer-link08 {
  color: var(--dl-color-gray-white);
  padding-left: 25px;
}
.footer-link09 {
  color: var(--dl-color-gray-white);
  padding-left: 25px;
}
.footer-link10 {
  color: var(--dl-color-gray-white);
  padding-left: 25px;
}
.footer-link11 {
  color: var(--dl-color-gray-white);
  padding-left: 25px;
}
.footer-copyright {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #121824;
}
.footer-container7 {
  flex: 0 0 auto;
  width: 50%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-text3 {
  color: var(--dl-color-gray-white);
  font-size: 12px;
  padding-left: 30px;
}
.footer-text5 {
  color: var(--dl-color-gray-white);
}
.footer-container8 {
  flex: 0 0 auto;
  width: 50%;
  height: 74px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-text6 {
  color: var(--dl-color-gray-white);
  font-size: 12px;
  align-self: flex-end;
  text-align: right;
  padding-right: 30px;
}



@media(max-width: 991px) {
  .footer-prefooter1 {
    width: 100%;
  }
  .footer-container2 {
    width: 324px;
    margin-right: 0px;
  }
  .footer-container3 {
    width: 100%;
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-container4 {
    width: 160px;
  }
  .footer-container5 {
    width: 160px;
  }
  .footer-container6 {
    width: 215px;
  }
  .footer-copyright {
    width: 100%;
    margin-right: 0px;
  }
  .footer-container8 {
    width: 50%;
    padding-right: 20px;
  }
}
@media(max-width: 767px) {
  .footer-prefooter1 {
    width: 100%;
  }
  .footer-container {
    width: 167px;
  }
  .footer-container1 {
    width: 90px;
  }
  .footer-image1 {
    width: 61px;
  }
  .footer-container2 {
    width: 491px;
    margin-right: 0px;
  }
  .footer-footer1 {
    width: 100%;
    margin-right: 0px;
  }
  .footer-container3 {
    width: 648px;
    margin-right: 0px;
  }
  .footer-copyright {
    width: 100%;
    height: 105px;
  }
  .footer-container7 {
    width: 334px;
  }
}
@media(max-width: 479px) {
  .footer-container2 {
    width: 212px;
  }
  .footer-container3 {
    width: 100%;
  }
  .footer-container6 {
    width: 159px;
  }
  .footer-container7 {
    width: 209px;
  }
  .footer-container8 {
    width: 276px;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero1 {
  height: 703px;
  background-size: cover;
  background-color: transparent;
  background-image: url("public/external/adobestock_302078039_editorial_use_only-scaled%20(1)-1500w.jpg");
}
.home-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero-heading {
  color: #ffffff;
  max-width: 800px;
  text-align: center;
}
.home-hero-sub-heading {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}
.home-button {
  color: #ffffff;
  background-color: var(--dl-color-custom-accent1);
}
.home-pricing {
  width: 100%;
  height: 1103px;
  background-color: var(--dl-color-gray-white);
}
.home-container02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-pricing-sub-heading {
  text-align: center;
}
.home-container03 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-pricing-card {
  height: 869px;
}
.home-image {
  width: 87px;
  height: 93px;
  object-fit: cover;
}
.home-container04 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text {
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.home-container05 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-container06 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-text02 {
  line-height: 150%;
}
.home-container07 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-text03 {
  line-height: 150%;
}
.home-container08 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-text04 {
  line-height: 150%;
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: 50px;
  flex-direction: column;
}
.home-text07 {
  text-align: left;
}
.home-button1 {
  width: 100%;
}
.home-pricing-card1 {
  height: 869px;
}
.home-image01 {
  width: 87px;
  height: 93px;
  object-fit: cover;
}
.home-container12 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text09 {
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.home-container13 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-container14 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-text11 {
  line-height: 150%;
}
.home-container15 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-text12 {
  line-height: 150%;
}
.home-container16 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-text13 {
  line-height: 150%;
}
.home-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-container18 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container19 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: 50px;
  flex-direction: column;
}
.home-text16 {
  text-align: left;
}
.home-button2 {
  width: 100%;
}
.home-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.home-container20 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.home-container21 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.home-banner-heading {
  text-align: center;
}
.home-banner-sub-heading {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-image02 {
  width: 950px;
  height: 351px;
  object-fit: cover;
}
.home-features2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.home-container22 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-features-heading1 {
  font-size: 2em;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-features-sub-heading1 {
  font-size: 18px;
  text-align: center;
}
.home-container23 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
}
.home-pricing-card2 {
  height: 786px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.home-image03 {
  width: 150px;
  align-self: center;
  object-fit: cover;
  border-radius: 100px;
}
.home-text64 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: -50px;
  text-align: center;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: var(--dl-color-custom-primary1);
}
.home-container24 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-container25 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.home-text65 {
  line-height: 150%;
}
.home-text66 {
  align-self: center;
  text-align: center;
}
.home-text67 {
  font-size: 20px;
  align-self: center;
  text-align: center;
}
.home-text68 {
  align-self: center;
  text-align: center;
}
.home-button3 {
  color: var(--dl-color-gray-900);
  width: 50%;
  align-self: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #ffffff;
}
.home-pricing-card3 {
  height: 790px;
  background-color: #ffffff;
}
.home-image04 {
  width: 150px;
  align-self: center;
  object-fit: cover;
  border-radius: 100px;
}
.home-text69 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: -50px;
  text-align: center;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: var(--dl-color-custom-primary1);
}
.home-container26 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-container27 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.home-text70 {
  line-height: 150%;
}
.home-text71 {
  align-self: center;
  text-align: center;
}
.home-text72 {
  font-size: 20px;
  align-self: center;
  text-align: center;
}
.home-text73 {
  align-self: center;
  text-align: center;
}
.home-button4 {
  color: var(--dl-color-gray-900);
  width: 50%;
  align-self: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #ffffff;
}
.home-pricing-card4 {
  height: 784px;
  background-color: #ffffff;
}
.home-image05 {
  width: 150px;
  align-self: center;
  object-fit: cover;
  border-radius: 100px;
}
.home-text74 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: -50px;
  text-align: center;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: var(--dl-color-custom-primary1);
}
.home-container28 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-container29 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.home-text75 {
  line-height: 150%;
}
.home-text76 {
  align-self: center;
  text-align: center;
}
.home-text77 {
  font-size: 20px;
  align-self: center;
  text-align: center;
}
.home-text78 {
  align-self: center;
  text-align: center;
}
.home-button5 {
  color: var(--dl-color-gray-900);
  width: 50%;
  align-self: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #ffffff;
}
.home-container30 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.home-container31 {
  flex: 0 0 auto;
  width: 768px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text79 {
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
}
.home-text80 {
  color: #000000;
  text-align: center;
}
.home-container32 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image06 {
  width: 200px;
  padding: 10px;
  object-fit: cover;
}
.home-image07 {
  width: 200px;
  padding: 10px;
  object-fit: cover;
}
.home-image08 {
  width: 200px;
  padding: 10px;
  object-fit: cover;
}
.home-container33 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image09 {
  width: 200px;
  padding: 10px;
  object-fit: cover;
}
.home-image10 {
  width: 200px;
  padding: 10px;
  object-fit: cover;
}
.home-image11 {
  width: 200px;
  padding: 10px;
  object-fit: cover;
}
.home-container34 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text81 {
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
}
.home-container35 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-text85 {
  font-weight: 400;
}
@media(max-width: 991px) {
  .home-hero1 {
    flex-direction: column;
  }
  .home-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-hero-heading {
    text-align: center;
  }
  .home-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-pricing {
    height: 2624px;
    padding-bottom: 50px;
  }
  .home-pricing-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-container03 {
    height: 2461px;
    align-items: center;
    flex-direction: column;
  }
  .home-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
  }
  .home-pricing-card1 {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
  }
  .home-features1 {
    height: 585px;
  }
  .home-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-banner-sub-heading {
    max-width: 100%;
  }
  .home-image02 {
    width: 830px;
  }
  .home-features-heading1 {
    text-align: center;
  }
  .home-text49 {
    text-align: center;
  }
  .home-features-sub-heading1 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-container23 {
    align-items: center;
    flex-direction: column;
  }
  .home-pricing-card2 {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
  }
  .home-pricing-card3 {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
  }
  .home-pricing-card4 {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
  }
  .home-container31 {
    width: 598px;
  }
  .home-text80 {
    color: rgb(0, 0, 0);
  }
  .home-container34 {
    width: 641px;
  }
  .home-text82 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-pricing-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container03 {
    align-items: center;
    flex-direction: column;
  }
  .home-pricing-card {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-pricing-card1 {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container21 {
    grid-template-columns: 1fr;
  }
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image02 {
    width: 693px;
    margin-right: 0px;
  }
  .home-features2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-features-sub-heading1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container23 {
    align-items: center;
    flex-direction: column;
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-pricing-card3 {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-pricing-card4 {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-features1 {
    height: 900px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-image02 {
    width: 356px;
    height: 275px;
  }
  .home-features2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container31 {
    width: 100%;
  }
  .home-image06 {
    width: 133px;
    height: 245px;
  }
  .home-image07 {
    width: 133px;
    height: 245px;
  }
  .home-image08 {
    width: 133px;
    height: 245px;
  }
  .home-image09 {
    width: 133px;
    height: 245px;
  }
  .home-image10 {
    width: 133px;
    height: 245px;
  }
  .home-image11 {
    width: 133px;
    height: 245px;
  }
  .home-container34 {
    width: 100%;
    padding-top: 30px;
  }
}
