.header-logged-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.header-logged-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: row;
  justify-content: flex-start;
}
.header-logged-container1 {
  flex: 0 0 auto;
  width: 10%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.header-logged-navlink {
  display: contents;
}
.header-logged-image {
  width: 70%;
  object-fit: cover;
  text-decoration: none;
}
.header-logged-container2 {
  flex: 0 0 auto;
  width: 35%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: row;
  justify-content: flex-start;
}
.header-logged-textinput {
  width: 90%;
  padding-top: 20px;
  border-color: var(--dl-color-gray-white);
  border-style: hidden;
  border-width: 0px;
  padding-bottom: 20px;
}
.header-logged-container3 {
  flex: 0 0 auto;
  width: 55%;
  height: 100px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.header-logged-navbar-interactive {
  width: auto;
  align-self: flex-end;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: flex-end;
}
.header-logged-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.header-logged-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.header-logged-links {
  flex: 1;
  display: flex;
  align-items: center;
  padding-right: 50px;
  flex-direction: row;
  justify-content: flex-end;
}
.header-logged-nav12 {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}
.header-logged-nav22 {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-logged-nav32 {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-logged-nav42 {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-logged-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-logged-register {
  font-family: "Inter";
  text-decoration: none;
}
.header-logged-burger-menu {
  display: none;
}
.header-logged-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.header-logged-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.header-logged-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-logged-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-logged-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logged-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.header-logged-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.header-logged-nav121 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-logged-nav221 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-logged-nav321 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-logged-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-logged-nav52 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-logged-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-logged-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-logged-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-logged-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-logged-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-logged-container6 {
  flex: 0 0 auto;
  width: 60%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-left: 36px;
  flex-direction: column;
  justify-content: center;
}
.header-logged-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-logged-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-logged-text {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-right: 4px;
  vertical-align: middle;
}
.header-logged-dropdown-arrow {
  transition: 0.3s;
}
.header-logged-icon10 {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.header-logged-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.header-logged-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-logged-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-logged-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-logged-text1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-logged-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-logged-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-logged-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-logged-text2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-logged-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-logged-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-logged-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-logged-text3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-logged-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-logged-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-logged-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-logged-text4 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-logged-container7 {
  flex: 0 0 auto;
  width: 40%;
  height: 100px;
  display: flex;
  align-items: flex-end;
  padding-right: 46px;
  flex-direction: column;
  justify-content: center;
}
.header-logged-button {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
  border-color: #f8a13e;
  background-color: #f8a13e;
}
.header-logged-root-class-name {
  top: 0px;
  left: 0px;
  position: static;
}
.header-logged-root-class-name1 {
  top: 0px;
  left: 0px;
  position: static;
}
.header-logged-root-class-name2 {
  top: 0px;
  left: 0px;
  position: static;
}
.header-logged-root-class-name3 {
  top: 0px;
  left: 0px;
  position: static;
}
.header-logged-root-class-name4 {
  top: 0px;
  left: 0px;
  position: static;
}
@media(max-width: 767px) {
  .header-logged-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-logged-desktop-menu {
    display: none;
  }
  .header-logged-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-logged-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-logged-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-logged-nav321 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-logged-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-logged-nav52 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .header-logged-header {
    width: 479px;
  }
  .header-logged-container {
    padding-left: 25px;
    padding-right: 10px;
  }
  .header-logged-image {
    width: 100%;
  }
  .header-logged-container2 {
    width: 60%;
  }
  .header-logged-container3 {
    width: 30%;
  }
  .header-logged-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-logged-mobile-menu1 {
    padding: 16px;
  }
  .header-logged-container6 {
    padding-left: 16px;
  }
  .header-logged-container7 {
    align-items: flex-end;
    padding-right: 14px;
  }
  .header-logged-root-class-name2 {
    top: 0px;
    left: 0px;
    position: static;
  }
  .header-logged-root-class-name4 {
    top: 0px;
    left: 0px;
    position: static;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.footer-prefooter1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-left: 90px;
  padding-right: 50px;
  padding-bottom: 50px;
  justify-content: flex-start;
  background-color: #121824;
}
.footer-container {
  flex: 0 0 auto;
  width: 10%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-left: 20px;
  flex-direction: column;
  justify-content: center;
}
.footer-image {
  width: 71px;
  height: 60px;
  object-fit: cover;
}
.footer-container01 {
  flex: 0 0 auto;
  width: 10%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-image1 {
  width: 92px;
  height: 133px;
  align-self: flex-start;
  object-fit: cover;
}
.footer-container02 {
  flex: 0 0 auto;
  width: 80%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-end;
  border-color: var(--dl-color-gray-black);
  border-style: dashed;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.footer-footer1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #121824;
}
.footer-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  justify-content: center;
}
.footer-container04 {
  flex: 0 0 auto;
  width: 19%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
.footer-navlink {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink01 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink02 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink03 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-container05 {
  flex: 0 0 auto;
  width: 19%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text1 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
.footer-navlink04 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink05 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink06 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink07 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-container06 {
  flex: 0 0 auto;
  width: 19%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text2 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
.footer-navlink08 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink09 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink10 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink11 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-navlink12 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-link {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-link1 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-container07 {
  flex: 0 0 auto;
  width: 19%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text3 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
.footer-link2 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.footer-link3 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.footer-link4 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.footer-container08 {
  flex: 0 0 auto;
  width: 19%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text4 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
.footer-navlink13 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer-link5 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.footer-link6 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.footer-link7 {
  color: var(--dl-color-gray-white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.footer-copyright {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: flex-start;
  background-color: #121824;
}
.footer-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 74px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-text5 {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 12px;
  align-self: flex-end;
  text-align: center;
  padding-right: 30px;
}



.footer-root-class-name3 {
  left: 0px;
  bottom: 0px;
  position: static;
}
.footer-root-class-name4 {
  left: 0px;
  bottom: 0px;
  position: static;
}
.footer-root-class-name5 {
  left: 0px;
  bottom: 0px;
  position: static;
}
.footer-root-class-name6 {
  left: 0px;
  bottom: 0px;
  position: 0px;
}
.footer-root-class-name7 {
  left: 0px;
  bottom: 0px;
  position: static;
}
.footer-root-class-name8 {
  left: 0px;
  bottom: 0px;
  position: static;
}
.footer-root-class-name9 {
  left: 0px;
  bottom: 0px;
  position: static;
}
.footer-root-class-name10 {
  left: 0px;
  bottom: 0px;
  position: static;
}
.footer-root-class-name11 {
  left: 0px;
  bottom: 0px;
  position: static;
}
.footer-root-class-name12 {
  left: 0px;
  bottom: 0px;
  position: static;
}
@media(max-width: 991px) {
  .footer-prefooter1 {
    width: 100%;
  }
  .footer-container02 {
    width: 324px;
    margin-right: 0px;
  }
  .footer-container03 {
    width: 100%;
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-container04 {
    width: 160px;
  }
  .footer-container05 {
    width: 160px;
  }
  .footer-container06 {
    width: 160px;
  }
  .footer-container07 {
    width: 160px;
  }
  .footer-container08 {
    width: 215px;
  }
  .footer-copyright {
    width: 100%;
    margin-right: 0px;
  }
  .footer-container09 {
    width: 50%;
    padding-right: 20px;
  }
}
@media(max-width: 767px) {
  .footer-prefooter1 {
    width: 100%;
  }
  .footer-container {
    width: 167px;
  }
  .footer-container01 {
    width: 90px;
  }
  .footer-image1 {
    width: 61px;
  }
  .footer-container02 {
    width: 491px;
    margin-right: 0px;
  }
  .footer-footer1 {
    width: 100%;
    margin-right: 0px;
  }
  .footer-container03 {
    width: 648px;
    margin-right: 0px;
  }
  .footer-copyright {
    width: 100%;
    height: 105px;
    justify-content: center;
  }
  .footer-text5 {
    padding-right: 0px;
  }
}
@media(max-width: 479px) {
  .footer-prefooter1 {
    padding: 20px;
  }
  .footer-container02 {
    width: 212px;
  }
  .footer-container03 {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }
  .footer-container04 {
    width: 100%;
  }
  .footer-container05 {
    width: 100%;
    padding-top: 20px;
  }
  .footer-container06 {
    width: 100%;
    padding-top: 20px;
  }
  .footer-container07 {
    width: 100%;
    padding-top: 20px;
  }
  .footer-container08 {
    width: 100%;
    padding-top: 20px;
  }
  .footer-copyright {
    height: auto;
    padding: 10px;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-container09 {
    width: 100%;
    padding-right: 0px;
  }
  .footer-text5 {
    text-align: center;
  }
  .footer-root-class-name3 {
    left: 0px;
    bottom: 17px;
    position: static;
  }
  .footer-root-class-name4 {
    left: 0px;
    bottom: 17px;
    position: static;
  }
  .footer-root-class-name5 {
    left: 0px;
    bottom: 17px;
    position: static;
  }
  .footer-root-class-name12 {
    left: 0px;
    bottom: 17px;
    position: static;
  }
}

.my-investors-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.my-investors-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.my-investors-button {
  transition: 0.3s;
  border-color: #2563EB;
}
.my-investors-button:hover {
  color: var(--dl-color-gray-white);
  background-color: #2563EB;
}
.my-investors-button:active {
  color: var(--dl-color-gray-white);
  background-color: #2563EB;
}
.my-investors-button1 {
  transition: 0.3s;
  border-color: #2563EB;
}
.my-investors-button1:hover {
  color: var(--dl-color-gray-white);
  background-color: #2563EB;
}
.my-investors-button1:active {
  color: var(--dl-color-gray-white);
  background-color: #2563EB;
}
.my-investors-button2 {
  transition: 0.3s;
  border-color: #2563EB;
}
.my-investors-button2:hover {
  color: var(--dl-color-gray-white);
  background-color: #2563EB;
}
.my-investors-button2:active {
  color: var(--dl-color-gray-white);
  background-color: #2563EB;
}
.my-investors-text01:hover {
  color: var(--dl-color-gray-white);
  background-color: #2563EB;
}
.my-investors-text01:active {
  color: var(--dl-color-gray-white);
  background-color: #2563EB;
}
.my-investors-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  padding: 50px;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
  background-color: #eff6ff;
}
.my-investors-navlink {
  text-decoration: underline;
}
.my-investors-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 50px;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  padding-bottom: 50px;
  justify-content: center;
}
.my-investors-pricing-card {
  height: 786px;
  position: relative;
  border-radius: 15px;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #eff6ff;
}
.my-investors-text05 {
  width: 70%;
  font-size: 20px;
  align-self: center;
  text-align: center;
}
.my-investors-image {
  width: 93px;
  height: 93px;
  align-self: center;
  object-fit: cover;
  border-radius: 100px;
}
@media(max-width: 991px) {
  .my-investors-container1 {
    width: 641px;
  }
  .my-investors-container3 {
    width: 641px;
  }
  .my-investors-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
  }
}
@media(max-width: 767px) {
  .my-investors-pricing-card {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .my-investors-container1 {
    width: 100%;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
  }
  .my-investors-container3 {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .my-investors-pricing-card {
    height: auto;
    margin: 0px;
    padding: var(--dl-space-space-twounits);
  }
  .my-investors-text05 {
    width: 80%;
  }
}
