.pitches-card-pricing-card {
  height: 869px;
  position: relative;
  box-shadow: 5px 5px 5px 0px #d4d4d4;
  border-radius: 10px;
}
.pitches-card-image {
  width: 87px;
  height: 93px;
  object-fit: cover;
}
.pitches-card-container {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.pitches-card-text {
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.pitches-card-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.pitches-card-container2 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.pitches-card-text2 {
  line-height: 150%;
}
.pitches-card-container3 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.pitches-card-text3 {
  line-height: 150%;
}
.pitches-card-container4 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.pitches-card-text4 {
  line-height: 150%;
}
.pitches-card-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pitches-card-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pitches-card-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: 50px;
  flex-direction: column;
}
.pitches-card-text7 {
  text-align: left;
}
.pitches-card-button {
  width: 100%;
}



@media(max-width: 991px) {
  .pitches-card-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
  }
}
@media(max-width: 767px) {
  .pitches-card-pricing-card {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pitches-card-root-class-name {
    height: auto;
  }
  .pitches-card-root-class-name1 {
    height: auto;
  }
  .pitches-card-root-class-name2 {
    height: auto;
  }
}
