.pitches-card-pricing-card {
  height: auto;
  position: relative;
  box-shadow: 2px 2px 5px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: 10px;
  justify-content: center;
}
.pitches-card-image {
  width: 87px;
  height: 93px;
  object-fit: cover;
}
.pitches-card-container {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.pitches-card-text {
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.pitches-card-free-plan-description {
  font-style: normal;
  font-weight: 600;
}
.pitches-card-container1 {
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pitches-card-container2 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.pitches-card-text2 {
  line-height: 150%;
}
.pitches-card-container3 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.pitches-card-text3 {
  line-height: 150%;
}
.pitches-card-container4 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.pitches-card-text4 {
  line-height: 150%;
}
.pitches-card-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pitches-card-container6 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pitches-card-container7 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: 50px;
  flex-direction: column;
}
.pitches-card-text7 {
  text-align: left;
}
.pitches-card-navlink {
  width: auto;
  font-family: "Inter";
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}



.pitches-card-root-class-name3 {
  top: -300px;
  left: 0px;
  position: static;
}
.pitches-card-root-class-name4 {
  top: -300px;
  left: 0px;
  position: static;
  margin-left: 20px;
}
.pitches-card-root-class-name5 {
  top: -300px;
  left: 0px;
  position: static;
  margin-left: 20px;
}
.pitches-card-root-class-name6 {
  top: -300px;
  left: 0px;
  position: static;
}
.pitches-card-root-class-name7 {
  top: -300px;
  left: 0px;
  position: static;
  margin-left: 20px;
}
.pitches-card-root-class-name8 {
  top: -300px;
  left: 0px;
  position: static;
  margin-left: 20px;
}
@media(max-width: 991px) {
  .pitches-card-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
  }
}
@media(max-width: 767px) {
  .pitches-card-pricing-card {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pitches-card-pricing-card {
    height: auto;
    margin: 0px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .pitches-card-container5 {
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .pitches-card-container6 {
    width: 50%;
  }
  .pitches-card-container7 {
    width: 50%;
  }
  .pitches-card-root-class-name {
    height: auto;
  }
  .pitches-card-root-class-name1 {
    height: auto;
  }
  .pitches-card-root-class-name2 {
    height: auto;
  }
  .pitches-card-root-class-name4 {
    margin-top: 50px;
  }
  .pitches-card-root-class-name5 {
    margin-top: 50px;
  }
  .pitches-card-root-class-name7 {
    margin-top: 50px;
  }
  .pitches-card-root-class-name8 {
    margin-top: 50px;
  }
}
