.user-card-pricing-card {
  height: auto;
  padding: var(--dl-space-space-twounits);
  position: relative;
  box-shadow: 5px 5px 5px 0px #d4d4d4;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: 20px;
  background-color: #ffffff;
}
.user-card-image {
  width: 150px;
  align-self: center;
  object-fit: cover;
  border-radius: 100px;
}
.user-card-text {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: -50px;
  text-align: center;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: var(--dl-color-custom-primary1);
}
.user-card-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.user-card-container1 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.user-card-text1 {
  line-height: 150%;
}
.user-card-free-plan-description {
  font-style: normal;
  font-weight: 600;
}
.user-card-text2 {
  align-self: center;
  text-align: center;
}
.user-card-text3 {
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.user-card-text4 {
  align-self: center;
  text-align: center;
}
.user-card-navlink {
  color: var(--dl-color-gray-900);
  width: 50%;
  align-self: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: #ffffff;
}
.user-card-root-class-name {
  height: 700px;
}
.user-card-root-class-name1 {
  height: 700px;
  margin-left: 10px;
}

.user-card-root-class-name3 {
  height: 700px;
  margin-left: 10px;
}
.user-card-root-class-name4 {
  height: 700px;
}
.user-card-root-class-name5 {
  height: 700px;
  margin-left: 10px;
}
.user-card-root-class-name6 {
  height: 700px;
  margin-left: 10px;
}
.user-card-root-class-name7 {
  height: 700px;
}
.user-card-root-class-name8 {
  height: 700px;
  margin-left: 10px;
}
.user-card-root-class-name9 {
  height: 700px;
  margin-left: 10px;
}
@media(max-width: 991px) {
  .user-card-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
  }
}
@media(max-width: 767px) {
  .user-card-pricing-card {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .user-card-root-class-name {
    height: auto;
  }
  .user-card-root-class-name1 {
    height: auto;
  }
  .user-card-root-class-name3 {
    height: auto;
  }
}
@media(max-width: 479px) {
  .user-card-pricing-card {
    height: auto;
  }
  .user-card-container {
    margin-bottom: 0px;
  }
  .user-card-free-plan-description {
    font-style: normal;
    font-weight: 600;
  }
  .user-card-text3 {
    font-style: normal;
    font-weight: 600;
  }
  .user-card-root-class-name {
    margin: 0px;
  }
  .user-card-root-class-name1 {
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .user-card-root-class-name3 {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
